@model NB.Core.Entites.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LitleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LitleTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsReleasetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsReleasetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
